.answer-button {
  padding: 24x;
  font-size: 1.5rem;
  border-radius: 4px;
  margin-bottom: 18px;
}

.button__center {
  display: flex;
  justify-content: center;
}

.active {
  background-color: aqua;
}

.bookmark__button {
  border: 0;
  background: transparent;
}
