.card {
  background-color: beige;
  height: auto;
  border: 1px black solid;
  border-radius: 16px;
  margin-bottom: 35px;
  padding: 0 20px 10px 20px;
  position: relative;
}

.card__profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.list-of-answers {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
.answer-items {
  border: 1px black solid;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  background-color: lightgrey;
  margin-bottom: 24px;
}

.col-centered {
  margin: 0 auto;
  float: none;
}
